{% extends 'base.html' %} {% load static %}{% block content %}
<link href="{% static 'css/form.css' %}" rel="stylesheet" />
<div class="centerObjects" style="padding-bottom: 1%">
  <a href="{% url 'adopciones' %}">
    <img class="mw-100" src="{% static 'mensaje_concientizacion_banner.png' %}" alt="Foto invitando a adoptar en lugar de cruzar" />
  </a>
</div>

<form method="post" class="form">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Agregar información</button>
</form>
<script>
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth() + 1; //January is 0!
  var yyyy = today.getFullYear();

  if (dd < 10) {
     dd = '0' + dd;
  }

  if (mm < 10) {
     mm = '0' + mm;
  }

  today = yyyy + '-' + mm + '-' + dd;
  document.getElementById("fecha_ultimo_celo").setAttribute("max", today);
</script>
{% endblock %}