{% extends 'base.html' %}{% load static %} {% block content %} 
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
<link href="{% static 'css/ver_turnos_solicitados.css' %}" rel="stylesheet" />

{% if user.is_authenticated %}
<a
  class="btn btn-primary centerObjects w-50 botones"
  href="{% url 'crear_adopcion' %}"
  role="button"
>
  Crear Adopción
</a>
<br>
{% endif %}
{% for adopcion in adopciones %}

<div class="card text-center card-s centerObjects">
  <div class="card-header">
    {% if adopcion.perro.nombre %}
      {{ adopcion.perro.nombre }}
    {% else %}
      {{ "Este perro todavía no tiene nombre" }}
    {% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ adopcion.perro.nombre }}</h5>
    <p class="card-text">{{ adopcion.color }}</p>
    {% if user == adopcion.usuario %}
    <a onclick="confirmarAdopcion()" class="btn btn-primary botones">Confirmar Adopción</a>
    {% else %}
    <a onclick="contestarAdopcion()" class="btn btn-primary botones">Contestar Adopción</a>
    {% endif %}

  <div class="card-footer text-muted">
    {{adopcion.color}} {{adopcion.perro.nombre}}
  </div>
</div>

</div>
<br>
{% endfor %} 
{% endblock %}
