{% extends 'base.html' %}{% load static %} {% block content %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
<link href="{% static 'css/global.css' %}" rel="stylesheet" />

{% if user.is_staff %}
<p align="center">
<a href="{% url 'agregar_campaña' %}" class="btn btn-primary botones" style="border: 0.1rem solid white; width: 300px">AGREGAR CAMPAÑA</a>
</p>
<br />
{% else %}
<div class="banner centerObjects" style="height: 4rem">
  <div class="vertical_align" style="font-weight: bold">
    Estas son las campañas disponibles para donar actualmente
  </div>
</div>
{% endif %}


{% if campanias %}
{% for campania in campanias %}

<div class="card text-center card-s centerObjects" style="width:45rem;">

  <div class="card-header" style="font-size: 1.4rem; font-weight: bold;">
    {{ campania.nombre }}
  </div>

  <div class="card-body">
    <p class="card-text" style="font-size: 1.2rem; padding: 1.5rem">
     {% if campania.descripcion %} {{ campania.descripcion }} {% else %} "" {% endif %}
    </p>
    <label for="monto_recaudado" style="font-weight: bold;">Monto recaudado hasta el momento:</label>
    <p id="monto_recaudado" style="font-size: 1.4rem; font-weight: bold; color: green">
      {{ campania.monto_recaudado }}
    </p>
    {% if campania.dias_restantes == -1 %}
    <p style="font-weight: bold;">Esta campaña es permanente</p>
    {% elif campania.dias_restantes == 0 %}
    <p style="font-weight: bold;">La campaña cierra hoy</p>
    {% else %}
    <p style="font-weight: bold;">En {{ campania.dias_restantes }} días cierra la campaña</p>
    {% endif %}
    {% if user.is_staff %}
    <a
      href="{% url 'donaciones_tabla_individual' campania_id=campania.id %}"
      class="btn btn-primary botones"
      >Ver donaciones</a
    >
    {% else %}
    <a
      href="{% url 'donar' campania_id=campania.id %}"
      class="btn btn-primary botones"
      >Donar</a
    >
    {% endif %}
  </div>

</div>
<br/><br/>

{% endfor %}

{% else %}
<h2 class="centerObjects"> Cargar campaña Refugio!!</h2>
{% endif %}


{% endblock %}