{% extends 'base.html' %}{% load static %} {% load render_table from django_tables2 %}
{% block content %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    <link href="{% static 'css/global.css' %}" rel="stylesheet" />


<div style="padding-left: 5rem; padding-right: 5rem;">
<div align="center" style="border: solid 0.15rem #2699b1; background-color: white">
<br/>
<div align="left" style="padding-left: 10px; width: 85%;">

    <br/>
    <h1>Campañas de donación</h1>
    <br/>
    <br/>

    {% if filter %}
    <form action="" method="get">
        {% for field in filter.form %} <div style="display: inline-block;"><label for="{{ field.id_for_label }}" style="width: 180px; font-size: 1rem; font-weight: 600">{{ field.label }}</label> <fieldset >{{ field }}</fieldset></div> {% endfor %}
        <button type="submit" class="btn btn-primary botones" id="hacer_donacion" name="agregar" style="display: inline-block; font-size: 1.1rem">FILTRAR</button>
        <br/>
        <br/>
    </form>
    {% endif %}

    {% render_table table %}

</div>
<br/>
</div>
</div>

{% endblock %}