{% extends 'base.html' %}{% load static %} {% block content %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
<link href="{% static 'css/global.css' %}" rel="stylesheet" />

{% if user.is_staff %}
<a
  class="btn btn-primary centerObjects w-50 botones"
  onclick="crear_campania()"
  role="button"
>
  Cargar campaña de donación
</a>
<br />
{% else %}
<div class="banner centerObjects" style="height: 4rem">
  <div class="vertical_align" style="font-weight: bold">
    Estas son las campañas disponibles para donar actualmente
  </div>
</div>
{% endif %}

{% if campanias %}
{% for campania in campanias %}

<div class="card text-center card-s centerObjects" style="width:45rem;">
<!--  border: 2px solid #2699b1;-->
  <div class="card-header" style="font-size: 1.4rem; font-weight: bold;">
    {{ campania.nombre }}
  </div>
  <div class="card-body">
    <p class="card-text" style="font-size: 1.2rem; padding: 1.5rem">
     {% if campania.descripcion %} {{ campania.descripcion }} {% else %} - {% endif %}
    </p>
    {% if user.is_authenticated %}
<!--    and adopcion.estado_publicacion == "A"-->
    <a
      onclick="donar({{campania.id}})"
      class="btn btn-primary botones"
      >Donar</a
    >
    {% endif %}

  </div>
  <dialog id="dial_donar{{campania.id}}">
    <p></p>
    <form
      method="POST"
      action="{% url 'donar' campania_id=campania.id %}"
    >
      {% csrf_token %} {{ form.as_p }}
      <div align="left">
        <label for="monto">Monto a donar:</label>
        <input type="number" id="monto" name="Monto" required min="0" step="any"/><br/><br/><br/>
        <p align="center" style="text-decoration: underline"> Datos de la tarjeta </p>
        <label for="nro_tarjeta">Número:</label>
        <input type="number" id="nro_tarjeta" name="NroTarjeta" required min="0"/><br/><br/>
        <label for="clave_tarjeta">Clave:</label>
        <input type="number" id="clave_tarjeta" name="ClaveTarjeta" required min="0" max="999"/><br/><br/>
        <label for="venc_tarjeta">Fecha de vencimiento:</label>
        <input type="month" id="venc_tarjeta" name="VencimientoTarjeta" required /><br/><br/><br/>
        <button type="button submit" class="btn btn-primary botones" style="float: right; margin-right: 0.2cm">Donar</button>
      </div>
    </form>
  </dialog>
  <script>
    function donar(campania_id) {
      const element = document.getElementById("dial_donar"+campania_id);
      element.showModal();
    }
  </script>
</div>

</div>
  <dialog id="dial_crear_campania">
    <p></p>
    <form
      method="POST"
      action="{% url 'crear_campania' %}"
    >
      {% csrf_token %} {{ form.as_p }}
      <div align="left">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="Nombre" required="true"/><br/><br/><br/>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="Descripcion" required="true"/><br/><br/>
        <label for="fecha_limite">Fecha límite para donaciones:</label>
        <input type="date" id="fecha_limite" name="FechaLimite" required /><br/><br/><br/>
        <button type="button submit" class="btn btn-primary botones" style="float: right; margin-right: 0.2cm">Donar</button>
      </div>
    </form>
  </dialog>
  <script>
    function crear_campania() {
      const element = document.getElementById("dial_crear_campania");
      element.showModal();
    }
  </script>
</div>

<br/>
{% endfor %} 
{% else %}
<h2 class="centerObjects"> Cargar campaña Refugio!!</h2>
{% endif %}
{% endblock %}