{% extends 'base.html' %}{% load static %} {% block content %}
<link href="{% static 'css/form.css' %}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<form method="post">
  {% csrf_token %} {% for field in form %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }} {% if field.errors %}
    <ul class="errorlist">
      {% for error in field.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
  <script>
    // Function to update form field values when perro field changes
    function updateFormFields() {
      var perroId = $("#id_perro").val(); // Get the selected perro's ID
      if (perroId) {
        // Send an AJAX request to fetch the perro details
        $.ajax({
          url: "/usuarios/perro/" + perroId + "/", // Replace with your actual API endpoint URL
          type: "GET",
          success: function (data) {
            // Update form field values with perro details
            $("#id_nombre").val(data.nombre);
            $("#id_fecha_nacimiento").val(data.fecha_nacimiento);
            $("#id_color").val(data.color);
            $("#id_raza").val(data.raza);
          },
        });
      } else {
        // Clear form field values if no perro is selected
        $("#id_descripcion").val("");
        $("#id_nombre").val("");
        $("#id_fecha_nacimiento").val("");
        $("#id_color").val("");
        $("#id_raza").val("");
      }
    }

    // Event listener for perro field change
    $("#id_perro").change(function () {
      updateFormFields();
    });

    // Call the function on page load (if perro is already selected)
    updateFormFields();
  </script>
  <button type="submit" class="btn btn-primary">Crear Adopción</button>
</form>
{% endblock %}
