{% extends 'base.html' %}{% load static %} {% load render_table from django_tables2 %}
{% block content %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    <link href="{% static 'css/global.css' %}" rel="stylesheet" />


<div style="padding-left: 5rem; padding-right: 5rem;">
<div align="center" style="border: solid 0.15rem #2699b1; background-color: white">
<br/>
<div align="left" style="padding-left: 10px; width: 85%;">

    <br/>
    <h1>Donaciones {% if view.campania %} para la campaña {{view.campania.nombre}}{% endif %}</h1>
    <br/>
    <br/>

    {% if table.data or filter.form.has_changed %}

        {% if filter %}
            <div style="background-color: #ECF8F9; padding: 10px;"> {# #FAF0E4 #}
                <br/>
                {#<a class="btn btn-primary" style="font-size: 1rem; width: 150px; background-color: gray; border-color: gray" href="{% url 'campañas' %}" >LIMPIAR</a><br/><br/>#}
                <form action="" method="get">
                    {% for field in filter.form %} <div style="display: inline-block;"><label for="{{ field.id_for_label }}" style="width: 200px; font-size: 1rem; font-weight: 600">{{ field.label }}</label> <fieldset >{{ field }}</fieldset></div> {% endfor %}
                    <a style="display: inline-block;">&nbsp&nbsp&nbsp</a><button type="submit" class="btn btn-primary botones" style="display: inline-block; font-size: 1rem">FILTRAR</button>
                </form>
            </div>
        <br/><br/>

        {% endif %}

        {% render_table table %}

    {% else %}
        <p style="font-weight: bold; font-size: 1.2rem">NO EXISTEN DONACIONES PARA ESTA CAMPAÑA</p>  {# también hay mensaje empty_text en la tabla para cuando los filtros no devuelven filas #}
    {% endif %}

    <br/>
    <input align="left" type="image" name="volver" src="{% static 'logo_volver.png' %}" style="width: 100px" onclick="location.href='{% url 'campañas' %}'">
    <br/>
    <br/>

</div>
<br/>
</div>
</div>

{% endblock %}