{% extends 'base.html' %} {% load static %}{% block content %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />

{% if not user.is_authenticated %}
<div class="banner centerObjects">
  <img
    src="{% static 'Logo1_con_nombre.png' %}"
    alt="El logo de la veterinaria Oh my dog!"
  />
</div>
{% endif %}

<div class="list-group centerObjects menu">
  <a href="{% url 'adopciones' %}" class="list-group-item list-group-item-action">Adopciones</a>
  <a href="#" class="list-group-item list-group-item-action"
    >Encontrados y perdidos</a
  >
  <a href="#" class="list-group-item list-group-item-action"
    >Paseadores y cuidadores</a
  >
  <a href="#" class="list-group-item list-group-item-action"
    >Veterinarias de turno</a
  >
</div>

<div>
  {% if user.is_authenticated and not user.is_staff %}
  <button
    class="btn btn-primary centerObjects botones"
    type="button"
    style="width: 50%"
  >
    <a href="{% url 'sacar_turno' %}">Solicitar turno</a>
  </button>
  {% endif %} {% if not user.is_authenticated %}
  <button
    class="btn btn-primary centerObjects botones"
    type="button"
    style="width: 50%"
  >
    <a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
  </button>
  {% endif %} {% if user.is_staff %}
  <button
    class="btn btn-primary centerObjects botones"
    type="button"
    style="width: 50%"
  >
    <a href="{% url 'registrar_usuario' %}">Registrar Usuario</a>
  <button
    class="btn btn-primary centerObjects botones"
    type="button"
    style="width: 50%"
  >
    <a href="{% url 'ver_turnos_solicitados' %}">Turnos Solicitados</a>
  </button>
  {% endif %}
</div>
{% endblock %}
