.centerText {
  text-align: center;
}

.centerObjects {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body {
  background-color: #fc904e;
}

div {
  margin-block-end: 50px;
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  user-select: none;
  height: 10%;
}

nav > ul {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: 1em;
}

nav > ul > li {
  margin-inline: 1em;
  color: red;
  cursor: pointer;
}
nav > ul > li:hover,
nav > ul > li:focus {
  color: #fc904e;
}

img {
  height: 90%;
  width: auto;
}
