.centerText {
    text-align: center;
  }

.centerObjects {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    width: 15%;
    background-color: transparent;
  }

.menu {
    width: 50%;
    align-items:center;
}

body {
    background-color: #fc904e;
}

div {
    margin-block-end: 10px;
}

.banner{
    background-color: white;
    width: 100%;
}

.botones {
    border-color: #2699b1;
    background-color: #2699b1;
    
}

.botones:hover{
    background-color: black;
}
