.centerText {
  text-align: center;
}

.centerObjects {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body {
  background-color: #fc904e;
}
nav {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  user-select: none;
  height: 8rem;
  border-radius: 10px;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
  color: #fc904e;
}
a {
  text-decoration: none;
  color: inherit;
}
nav > ul {
  display: flex;
  list-style: none;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 1em;
}

.adm_tag {
  color: gray;
}
.user_tag {
  margin-top: 1rem;
  margin-left: 3rem;
  display: inline-block;
}
nav > ul > li {
  margin-inline: 1em;
  color: #2699b1;
  cursor: pointer;
  margin-top: 1rem;
}
nav > ul > li:hover,
nav > ul > li:focus {
  color: #fc904e;
}

img {
  height: 100%;
  width: auto;
  cursor: pointer;
}

.forms {
  margin: 60px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop
}

.vertical_align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
button[type=submit]{
  border-color: #2699b1;
  background-color: #2699b1;
  text-decoration-color: white;
}