{% extends 'base.html' %} {% load static %} {% block content %}

<link href="{% static 'css/form.css' %}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% if user.is_staff %}
<div class="banner centerObjects" style="height: 4rem">
  <div class="vertical_align" style="font-weight: bold">
    Cargar paseador o cuidador
  </div>
</div>
<input align="left" type="image" name="volver" 
    src="{% static 'logo_volver.png' %}" 
    style="width: 100px; background-color: white;" 
    onclick="location.href='{% url 'paseadores_cuidadores' %}'">
<form method="post" class="form-group">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="botones text-light">Guardar</button>
</form>

{% else %}
<div class="banner centerObjects" style="height: 4rem">
  <div class="vertical_align" style="font-weight: bold">
    No tienes permisos para ver esta información
  </div>
</div>
{% endif %}
{% endblock %}
