{% extends 'base.html' %}{% load static %} {% block content %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
<link href="{% static 'css/global.css' %}" rel="stylesheet" />

<br/>
{% if user.is_staff %}
  <div align="center">
    <a href="{% url 'cargar_trabajador' %}" class="btn btn-primary botones" style="border: 0.1rem solid white; width: 300px">AGREGAR PASEADOR/ CUIDADOR</a>
  </div>

{% else %}
  <div class="banner centerObjects" style="height: 4rem">
    <div class="vertical_align" style="font-weight: bold">
      Paseadores y cuidadores disponibles actualmente
    </div>
  </div>
{% endif %}

</br>
<div style="padding-left: 15rem">
  <form method="get">
    {% for field in filtro.form %}
    <div style="display: inline-block;"><label for="{{ field.id_for_label }}" style="font-size: 1rem; font-weight: 800">{{ field.label }}</label> <fieldset>{{ field }}</fieldset></div> {% endfor %}
     <a style="display: inline-block;">&nbsp&nbsp</a><button type="submit" class="btn btn-primary botones" style="display: inline-block; font-size: 1rem">FILTRAR</button>
  </form>
</div>

<br/>

{% if filtro %}
{% for trabajador in filtro.qs %}

<div align="center">
<div class="card" style="width:70%;">

  <div class="card-body">

    <div class="container">

      <div class="row align-items-center justify-content-between">

        <div class="col-1">
          {% if trabajador.tipo == "P" %}<span class="badge rounded-pill text-bg-warning" style="float:left; font-size: 0.9rem">{{ trabajador.get_tipo_display }}</span>
          {% else %}<span class="badge rounded-pill text-bg" style="float:left; font-size: 0.9rem; background-color: #9681EB; color: black">{{ trabajador.get_tipo_display }}</span>
          {% endif %}
        </div>

        <div class="col-3">
          <a style="font-size: 1.2rem; font-weight: bold">{{ trabajador.nombre_y_apellido }}</a>
        </div>

        <div class="col-5" align="left" style="font-size: 1.1rem;">
          <div><a>Zona: {{trabajador.zona }}</a></div>
        </div>

        <div class="col-2">
          {% if user.is_staff and trabajador.habilitado %}
          <a 
          onclick="deshabilitarTrabajador({{ trabajador.id }})"
          class="btn btn-primary botones">
          Deshabilitar</a>
          {% elif not user.is_staff %}
          <a  
          onclick="contactarTrabajador({{ trabajador.id }})"
          class="btn btn-primary botones">
          Contactar</a>
          {% else %}
          <a>
          Deshabilitado hasta {{ trabajador.fecha_fin_deshabilitacion }}</a>
          {% endif %}
        </div>

      </div>

    </div>

  </div>
  <dialog id="dial_contactar_trabajador{{trabajador.id}}">
    <form method="POST"
          action="{% url 'contactar_trabajador' trabajador_id=trabajador.id %}">
    {% csrf_token %} {{ form.as_p }}
    <div style="float=left">
      {% if not user.is_authenticated %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="Nombre" required="true"/><br /><br/>
        <label for="email">Email:</label>
        <input type="email" id="email" name="Email" required="true"/><br /><br/>
        {% endif %}
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="Mensaje" cols="40" rows="5" placeholder="Mensaje de su parte que recibirá el paseador o cuidador"></textarea><br /><br />
        {% if user.is_authenticated %}
        <p>Se enviarán además su nombre y su email</p>
        {% endif %}
        <button type="button submit" class="btn btn-primary botones" style="float: right; margin-right: 0.2cm">Enviar mail de solicitud</button>
    </div>
    </form>
  </dialog>
  <script>
    function contactarTrabajador(trabajador_id) {
      const element = document.getElementById("dial_contactar_trabajador"+trabajador_id);
      element.showModal();
    }

  </script>

</div>
<dialog id="dialogo_deshabilitar{{trabajador.id}}">
  <p>Ingrese la fecha hasta la cual esta persona estará deshabilitada</p>
  <form method="post" action="{% url 'deshabilitar_trabajador' trabajador_id=trabajador.id %}">
    {% csrf_token %} {{ form.as_p }}
    <button
      type="button submit"
      class="btn btn-primary"
      style="float: right; margin-right: 0.2cm">
      Confirmar
    </button>
      <input
      id="fecha_limite"
      name="Fecha"
      type="date"
      style="float: right; margin-right:0.5cm"
      required="true"
    />

    <script>
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!
      var yyyy = today.getFullYear();

      if (dd < 10) {
         dd = '0' + dd;
      }

      if (mm < 10) {
         mm = '0' + mm;
      }

      today = yyyy + '-' + mm + '-' + dd;
      document.getElementById("fecha_limite").setAttribute("min", today);
  </script>
  </form>
</dialog>
<script>

  function deshabilitarTrabajador(trabajador_id){
    const element = document.getElementById("dialogo_deshabilitar"+trabajador_id);
    element.showModal();
  }
</script>
</div>
</div>

{% endfor %}

</br>
{% else %}
<h2 class="centerObjects"> No hay servicios disponibles actualmente</h2>
{% endif %}


{% endblock %}