{% extends 'base.html' %}{% load static %} {% block content %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
<link href="{% static 'css/global.css' %}" rel="stylesheet" />

{% if user.is_staff %}
<p align="center">
<a class="btn btn-primary botones" style="border: 0.1rem solid white; width: 300px">AGREGAR PASEADOR</a>
<a class="btn btn-primary botones" style="border: 0.1rem solid white; width: 300px">AGREGAR CUIDADOR</a>
</p>
<br />
{% else %}
<div class="banner centerObjects" style="height: 4rem">
  <div class="vertical_align" style="font-weight: bold">
    Servicios de paseadores y cuidadores disponibles actualmente
  </div>
</div>
{% endif %}


{% if servicios %}
{% for servicio in servicios %}

<div align="center">
<div class="card" style="width:45rem;">

  <div class="card-header" style="text-align: center;">
    <div class="row align-items-center">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
          <a style="font-size: 1.4rem; font-weight: bold">{{ servicio.nombre }}</a>
        </div>
        <div class="col-4 text-right">
          <span class="badge rounded-pill text-bg-secondary" style="float:right; font-size: 0.9rem">{{ servicio.nombre }}</span>
        </div>
      </div>
  </div>

  <div class="card-body">
    <div class="card-text" style="font-size: 1.1rem;">

      <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-8" align="left">
          <label for="monto_recaudado" >Monto recaudado hasta el momento:</label><a id="monto_recaudado"> ${{ servicio.monto_recaudado }} </a>
          <div><a>Zona: {{servicio.descripcion }}</a></div>
        </div>
        <div class="col-3">
          {% if user.is_staff %}<a class="btn btn-primary botones">Deshabilitar</a>
          {% else %}<a class="btn btn-primary botones">Contactar</a>
          {% endif %}
        </div>
      </div>
      </div>


    </div>

  </div>

</div>
</div>

<br/>

{% endfor %}

{% else %}
<h2 class="centerObjects"> No hay servicios disponibles actualmente</h2>
{% endif %}


{% endblock %}